<?php
/**
 * This file is used to isolate the credentials from the PHP Library from TransIP API.
 * 
 * (c) 2017, Nuno Tavares <n.tavares@portavita.eu>
 */

/**
 * Your login name on the TransIP website.
 */
$transip_login = '';

/**
 * One of your private keys; these can be requested via your Controlpanel
 */
$transip_privateKey = '';
